PORT=3000
JWT_SECRET=replace-with-a-random-secret

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD="vonxeris-36542"
DB_DATABASE=snapchef_db

MIDTRANS_SERVER_KEY=SB-Mid-server-s74gj7OCK-Z5pWjOmrkGXwvr
MIDTRANS_CLIENT_KEY=SB-Mid-client-JpF0_OKA8wS2KLwg
MIDTRANS_IS_PRODUCTION=false
FRONTEND_URL=https://localhost:5173
