PORT=3000
JWT_SECRET=replace-with-a-random-secret

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=""
DB_DATABASE=snapchef_db

MIDTRANS_SERVER_KEY=SB-Mid-server-replace-me
MIDTRANS_CLIENT_KEY=SB-Mid-client-replace-me
MIDTRANS_IS_PRODUCTION=false
FRONTEND_URL=https://localhost:5173
